@charset "UTF-8";
#wrap {
  padding-top: 7rem;
}

.container {
  max-width: calc(1250px + 2rem);
  padding: 0 1rem;
}

/*=========================================
                 header
=========================================*/
#header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e3e5e8;
  z-index: 99;
}

#header .hd-top {
  width: 100%;
}

.flexLayout {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: inline-block;
  letter-spacing: 0;
  padding: .5rem 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #3c404b;
  text-align: center;
  border-radius: 5rem;
}

.siteMap-btn::before {
  font-family: "xeicon";
  content: "";
  display: inline-block;
  font-size: 2.2rem;
}

.search-popup-Btn::before {
  font-family: "xeicon";
  content: "";
  display: inline-block;
  font-size: 2.2rem;
}

.search-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
  background: #fff;
}

.search-popup .search-popup-top {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e3e5e8;
  padding: 0 1rem;
}

.search-popup .popup-top-wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0%;
          flex: 1 0%;
}

.search-popup .popup-top-wrap .search::before {
  font-family: "xeicon";
  content: "";
  display: inline-block;
  font-size: 2rem;
}

.search-popup .popup-top-wrap .search-popup-close {
  width: 20%;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-form .search {
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-form input {
  border: none;
  padding-left: 5rem;
  border-radius: 5rem;
  width: 100%;
  background: rgba(239, 240, 244, 0.9);
}

.search-popup-bt .character-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 800px;
  margin: 5rem auto 2rem;
}

.search-popup-bt .character-item {
  padding: 0 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.search-popup-bt .character-item:hover .character-img {
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}

.search-popup-bt .character-item > a {
  display: block;
}

.search-popup-bt .character-item .character-img {
  -webkit-transition: ease-out .3s;
  transition: ease-out .3s;
  display: block;
  text-align: center;
}

.search-popup-bt .character-item .character-name {
  margin: 2rem 0;
  display: block;
  text-align: center;
}

#nav {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: table;
  width: 100%;
  table-layout: fixed;
  max-width: 500px;
  padding: 0 1.5rem;
}

#nav > a {
  display: table-cell;
  text-align: center;
  padding: 1.5rem 1rem 1rem;
  position: relative;
}

#nav > a.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

#nav > a.active > span::after {
  display: block;
}

#nav > a > span {
  position: relative;
}

#nav > a > span::after {
  content: "";
  display: none;
  width: .6rem;
  height: .6rem;
  position: absolute;
  right: -1rem;
  top: 0;
  border-radius: 100%;
  background: #ff5575;
}
/*# sourceMappingURL=layout.css.map */