@import "mixin";
#main {
    margin-top:5rem;
    padding-top:5rem;
}
.item-list {
    @include flex(auto);
    flex-flow:wrap;
    > .item {
        width:calc(25% - 2rem);
        margin: 0 1rem 2rem;
        > a {
            display:block;
        }
        .figure {
            display:block;
            text-align:center;
            box-shadow:1px 0 5px rgba(0,0,0,.2);
        }
        .figcaption {
            display:block;
            margin-top:2rem;
            position:relative;
            .item-name {
                display:block;
                padding-right:4rem;
                margin-bottom:.5rem;
                word-break: keep-all;
            }
            .item-price {
                display:block;
                font-size:2rem;
            }
        }
    }
}
.cart-btn {
    position:absolute;
    top:0;
    right:0;
    &::before {
        content:"\e9fc";
        font-family:"xeicon";
        vertical-align:middle;
        font-size:2rem;
        color:#000;
    }
    &.checked::before {
        content:"\e9fd";
    }
}
// media query
@media (max-width:767px) {
    .item-list {
        .item {
            width:calc(50% - 2rem);
        }
    }
}